.progress-container {
    max-width: 100%;
    margin: 0 auto;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.progress-bar-with-icon {
    display: flex;
    align-items: center;
    /* gap: 12px; */
}

.level-icon {
    width: 32px;
    height: 32px;
    object-fit: contain;
    margin-right: -25px;
    position: relative;
    z-index: 10;
    /* margin-bottom: -10px; */
}

.progress-bar-wrapper {
    width: 700px;
    height: 12px;
    background: #85858829;
    border-radius: 12px;
    overflow: hidden;
    box-shadow: inset 0 10px 4px rgba(116, 116, 116, 0.1);
    margin-bottom: 8px;

}

.progress-bar-fill {
    height: 100%;
    background: #34C759;
    border-radius: 12px;
    transition: width 0.6s ease;
    box-shadow: inset 0 10px 4px rgba(116, 116, 116, 0.1);
}

.progress-text {
    text-align: right;
    width: 690px;
    font-size: 14px;
    /* margin-bottom: 8px; */
}

.current-xp {
    color: #34C759;
}